<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:8000/HelloService"
					  binding="netTcpBinding"
					  contract="_44_WCF_Instance_Management_Client.IStudent"/>
		</client>
	</system.serviceModel>
</configuration>