<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="csvPath"
			 value="DataLog.txt"/>
		
		<add key="connectionString"
			 value="server=OVO-YD2YXBFUANE\SQLEXPRESS;database=HMI_DB_EUV;uid=HMI_User;password=!Onetwo3"/>

		<add key="testSelectCommand"
			 value="
            SELECT TOP (1000)
                [DeviceId],
                [ParameterId],
                [Value],
                [Unit],
                [PriorityLevel],
                [AlarmType],
                [Ids_String],
                [TimeStamp]
            FROM dbo.HMI_TBL_Parameter_Logs"/>
		
		<add key="searchParameterIdsCommand"
			 value="
            SELECT DISTINCT ParameterId
            FROM dbo.HMI_TBL_Parameter_Logs"/>
		
	</appSettings>
</configuration>