<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint contract="Monitor_Client.Interfaces.IParameterMonitor"
					  address="net.tcp://localhost:8091/ParameterMonitor"
					  binding="netTcpBinding"
					  name="netTcpBinding_IParameterMonitor"/>
		</client>
	</system.serviceModel>
</configuration>