<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<diagnostics performanceCounters="All" />
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding"
						 maxBufferSize="67536"
						 maxReceivedMessageSize="67536"
						 transferMode="Buffered">
					<!-- Optional reader quotas -->
					<readerQuotas
						maxDepth="64"
						maxStringContentLength="67536"
						maxArrayLength="67536"
						maxBytesPerRead="4096"
						maxNameTableCharCount="16384" />
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="_45_WCF_Call_Stack_Server.Student" behaviorConfiguration="throttlingBehavior">
				<endpoint address=""
						  binding="netTcpBinding"
						  contract="_45_WCF_Call_Stack_Server.IStudent"
						  bindingConfiguration="tcpBinding"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000/StudentService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="throttlingBehavior">
					<serviceThrottling
						maxConcurrentCalls="1"
						maxConcurrentSessions="10"
						maxConcurrentInstances="10" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>