<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<system.serviceModel>
		<diagnostics performanceCounters="All" />
		<services>
			<service name="_43_WCF_Instance_Management_Server.Student">
				<endpoint address=""
						  binding="netTcpBinding"
						  contract="_43_WCF_Instance_Management_Server.IStudent"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000/HelloService"/>
					</baseAddresses>
				</host>
			</service>
		</services>

	</system.serviceModel>
</configuration>