<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="Server.Interfaces.ParameterReport">
				<endpoint address="" binding="netTcpBinding" contract="Server.Interfaces.IParameterReport" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8090/ParameterReport" />
					</baseAddresses>
				</host>
			</service>
			<service name="Server.Interfaces.ParameterMonitor">
				<endpoint address="" binding="netTcpBinding" contract="Server.Interfaces.IParameterMonitor" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8091/ParameterMonitor" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<appSettings>
		<add key="connectionString" value="server=OVO-YD2YXBFUANE\SQLEXPRESS;database=TEST_DB;uid=HMI_User;password=!Onetwo3"/>
	</appSettings>
</configuration>